body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fafafa;
}

.main-header, .main-footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 1rem 0;
  flex: content;
  flex-direction: column;
  justify-content: space-between;
}

.main-header .logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.main-header nav {
  margin-top: 0.5rem;
}

.main-header nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
}

.main-header nav a:hover {
  text-decoration: underline;
}
