<!-- components/menu.html -->
<div class="rounded-2xl p-4">
  <div class="flex flex-row items-center justify-center gap-4">
  <i data-lucide="utensils-crossed" class="w-8 h-8 sm:w-10 sm:h-10"></i>
  <h1
    id="branchTitle"
    class="text-black text-3xl sm:text-4xl md:text-5xl py-4 font-black text-center"
  >
    نام شعبه
  </h1>
  <i data-lucide="utensils-crossed" class="w-8 h-8 sm:w-10 sm:h-10"></i>
</div>


  <nav class="w-full text-white shadow-md mt-2">
  <ul id="categoryList" class="flex flex-wrap justify-center items-center gap-3 font-marhey text-lg"></ul>
</nav>
<main id="menuContainer" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 p-6 w-full"></main>


  <!-- Menu Items -->
  <main id="menuContainer" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 p-6 w-full"></main>
</div>
